@model EastDeltaUniversity.Models.Class

@{
    ViewBag.Title = "Allocate";
}

<h2>Allocate</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Class</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.DepartmentId, new SelectList(ViewBag.DepartmentId, "Id", "Code"), "--Select Department--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="CourseId" name="CourseId" for="CourseId" class="form-control required">
                    <option value="">--Select Course--</option>
                </select>
                @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.RoomId, new SelectList(ViewBag.RoomId, "Id", "Name"), "--Select Room--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoomId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DayId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.DayId, new SelectList(ViewBag.DayId, "Id", "Name"), "--Select Day--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DayId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x=>x.FTime,new{@class="form-control"})
                @Html.ValidationMessageFor(model => model.FTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TTime, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TTime, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(x=>x.IsActive)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="formSubmit" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function() {

            //Course By Department

            $("#DepartmentId").change(function() {
                var departmentId = $("#DepartmentId").val();
                var json = { departmentId: departmentId };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CoursesByDepartment", "Class")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {

                        $("#CourseId").empty();
                        $("#CourseId").append('<option value="">--Select Course--</option>');

                        $.each(data,
                            function(key, value) {
                                $("#CourseId").append('<option value="' + value.Id + '">' + value.Code + '</option>');
                            });
                    }
                });
            });

            //TimePicker

            $("#FTime").timepicker();
            $("#TTime").timepicker();

            //IsActive True

            $("#IsActive").val(true);

            //Time Is Valid
            //$("#formSubmit").click(function() {
            //    var from = $("#FTime").val();
            //    var to = $("#TTime").val();
            //    if (to <= from) {
            //        alert("Invalid Time");
            //        return false;
            //    }
            //});

        });
    </script>
}
