@model EastDeltaUniversity.Models.ViewModels.StudentView

@{
    ViewBag.Title = "Preview";
}

<h2>Preview</h2>

<div>
    <h4>Student</h4>
    <hr />
    <table class="dl-horizontal table table-striped table-responsive text-center table-bordered table-hover">

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Registration)
            </td>
            <td>
                @Html.DisplayFor(model => model.Registration)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Contact)
            </td>
            <td>
                @Html.DisplayFor(model => model.Contact)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Date)
            </td>
            <td>
                @Html.DisplayFor(model => model.Date)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Address)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address)
            </td>
        </tr>

    </table>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
